@use "../variables/palette.scss";

@mixin body {
  background-image: url("../../../images/gradient.jpg");
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10vw;
}

@mixin header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 200px;

  .logo {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .breadcrumb {
    font-size: small;
    font-weight: 400;
    color: white;
  }
}

@mixin navbar {
  border: 1px solid palette.$primary-text-color;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 80px;

  &__list {
    text-align: right;
    margin-right: 15px;
  }

  &__item {
    list-style-type: none;
    padding: 13px;
    font-weight: 500;

    a {
      text-decoration: none;
    }

    a:hover {
      background-color: white;
    }
  }
}

@mixin footer {
  .footer {
    &__copyright {
      text-align: center;
      font-weight: 200;
      font-size: 12px;
      margin-bottom: 30px;
      color: white;
    }
  }
}

@mixin page-heading {
  font-size: 25px;
  margin-bottom: 30px;
}
