* {
  font-family: "Azeret Mono", monospace;
  color: #1e1e1e;
  margin: 0;
}

body {
  background-image: url("../../../images/gradient.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10vw;
}
main .navbar {
  border: 1px solid #1e1e1e;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 80px;
}
main .navbar__list {
  text-align: right;
  margin-right: 15px;
}
main .navbar__item {
  list-style-type: none;
  padding: 13px;
  font-weight: 500;
}
main .navbar__item a {
  text-decoration: none;
}
main .navbar__item a:hover {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

header {
  text-align: center;
  margin-top: 30px;
  height: 10vh;
  margin-bottom: 10vh;
}
header .logo {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}
header .breadcrumb {
  font-size: small;
  font-weight: 400;
  color: white;
}

footer {
  height: 10vh;
  margin-top: 10vh;
}
footer .footer__copyright {
  text-align: center;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 30px;
  color: white;
}

.dance-image {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 60px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
