* {
  font-family: "Azeret Mono", monospace;
  color: #1e1e1e;
  margin: 0;
}

.body {
  background-image: url("../../../images/gradient.jpg");
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
@media only screen and (max-width: 767px) {
  .body {
    padding: 0 5vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .body {
    padding: 0 5vw;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1150px;
}
@media only screen and (max-width: 767px) {
  .main {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main {
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60vh;
  }
}

.navbar {
  border: 1px solid #1e1e1e;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 80px;
}
.navbar__list {
  text-align: right;
  margin-right: 15px;
}
.navbar__item {
  list-style-type: none;
  padding: 13px;
  font-weight: 500;
}
.navbar__item a {
  text-decoration: none;
}
.navbar__item a:hover {
  background-color: white;
}
@media only screen and (max-width: 767px) {
  .navbar {
    border: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .navbar__list {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar__item {
    font-size: small;
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    border: none;
    margin: 0 0 20px 0;
  }
  .navbar__list {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar__item {
    font-size: small;
    padding: 20px 35px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    margin-right: 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}
@media only screen and (max-width: 767px) {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    height: 100%;
    align-items: center;
  }
}

.header {
  text-align: center;
  margin-top: 30px;
  height: 10vh;
  margin-bottom: 10vh;
}
.header__logo {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}
.header__breadcrumb {
  font-size: small;
  font-weight: 400;
  color: #fff;
  text-shadow: #8cb8e8 1px 0 10px;
}
@media only screen and (max-width: 767px) {
  .header {
    margin-bottom: 20px;
    height: 100px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 30px;
}
.footer .footer__copyright {
  font-size: 12px;
  color: #fff;
  text-shadow: #c474ba 1px 0 10px;
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 5vh;
  }
}

.dance-image {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 60px;
}
@media only screen and (max-width: 767px) {
  .dance-image {
    border-radius: 40px;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dance-image {
    border-radius: 20px;
    width: 60%;
    height: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .dance-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 40px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .text {
    margin-top: 40px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text {
    font-size: small;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .text {
    font-size: small;
  }
}
