@use "./partials/variables/palette.scss";
@use "./partials/mixins/layout.scss";
@use "./partials/mixins/media-queries.scss";

* {
  font-family: "Azeret Mono", monospace;
  color: palette.$primary-text-color;
  margin: 0;
}

.body {
  @include layout.body;
}

.main {
  @include layout.main;
}

.navbar {
  @include layout.navbar;
}

.container {
  @include layout.container;
}

.header {
  @include layout.header;
}

.footer {
  @include layout.footer;
}

.memoji {
  height: 500px;
  margin-right: 60px;

  @include media-queries.phone {
    margin: 0;
    max-width: 200px;
    height: auto;
    width: auto;
    margin-top: 40px;
  }

  @include media-queries.tablet {
    height: auto;
    width: auto;
    max-width: 200px;
    margin: 0 0 0 60px;
  }

  @include media-queries.small-laptop {
    height: auto;
    width: auto;
    max-width: 300px;
    margin-right: 0;
  }
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media-queries.phone {
    padding: 0 5vw;
  }

  @include media-queries.small-laptop {
    margin: 0 60px 0 20px;
  }

  &__title {
    @include layout.page-heading;
  }

  &__item {
    display: flex;
    align-items: center;

    @include media-queries.phone {
      font-size: 14px;
    }

    @include media-queries.tablet {
      font-size: 14px;
    }

    &__icon {
      height: 35px;
      margin-right: 10px;

      @include media-queries.phone {
        height: 25px;
        width: 25px;
      }

      @include media-queries.tablet {
        height: 30px;
        width: 30px;
        margin-right: 20px;
      }
    }
  }
}
