@use "./partials/variables/palette.scss";
@use "./partials/mixins/layout.scss";
@use "./partials/mixins/media-queries.scss";

* {
  font-family: "Azeret Mono", monospace;
  color: palette.$primary-text-color;
  margin: 0;
}

.body {
  @include layout.body;
}

.main {
  @include layout.main;
}

.navbar {
  @include layout.navbar;
}

.container {
  @include layout.container;
}

.header {
  @include layout.header;
}

.footer {
  @include layout.footer;
}

.page-heading {
  @include layout.page-heading;

  @include media-queries.phone {
    text-align: center;
  }
}

.card {
  border: 1px solid palette.$primary-text-color;
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;

  @include media-queries.phone {
    flex-direction: column;
  }

  @include media-queries.tablet {
    flex-direction: column;
    border-radius: 15px;
    width: 45%;
    margin-bottom: 0;
  }

  &__image {
    border-radius: 20px 0 0 20px;
    width: 300px;
    object-fit: cover;

    @include media-queries.phone {
      width: auto;
      height: 200px;
      border-radius: 20px 20px 0 0;
    }

    @include media-queries.tablet {
      width: auto;
      height: 200px;
      border-radius: 15px 15px 0 0;
    }
  }

  &__information {
    padding: 20px;

    &__title {
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 20px;

      @include media-queries.phone {
        font-size: 16px;
      }

      @include media-queries.tablet {
        font-size: 16px;
      }
    }

    &__subtitle {
      &__type {
        margin-bottom: 10px;
        font-size: 14px;

        @include media-queries.phone {
          font-size: 12px;
        }

        @include media-queries.tablet {
          font-size: 12px;
        }
      }

      &__purpose {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 20px;

        @include media-queries.phone {
          font-size: 12px;
        }

        @include media-queries.tablet {
          font-size: 12px;
        }
      }
    }

    &__description {
      font-size: 15px;

      @include media-queries.phone {
        font-size: small;
      }

      @include media-queries.tablet {
        font-size: small;
      }
    }
  }
}

.card-container {
  @include media-queries.tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
