@use "./partials/variables/palette.scss";
@use "./partials/mixins/layout.scss";
@use "./partials/mixins/media-queries.scss";

* {
  font-family: "Azeret Mono", monospace;
  color: palette.$primary-text-color;
  margin: 0;
}

.body {
  @include layout.body;
}

.main {
  @include layout.main;
  @include media-queries.phone;
}

.navbar {
  @include layout.navbar;
}

.container {
  @include layout.container;
}

.header {
  @include layout.header;
}

.footer {
  @include layout.footer;
}

.page-heading {
  @include layout.page-heading;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  row-gap: 15px;
  column-gap: 50px;
  padding-left: 0;
  margin-bottom: 30px;

  @include media-queries.phone {
    justify-content: center;
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media-queries.phone {
      font-size: small;
    }

    &__logo {
      height: 50px;
      width: 50px;

      @include media-queries.phone {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.comment {
  font-size: 14px;
  text-align: right;
}
